body {
	background-color: white;
	color: white;
	align-items: center;
}

head{
	text-align: center;
	color: black;
} 

img{
	width:100%;
}

p{
	background-color: white;
	color: black;
	text-align: center;
}

h1{
	color: black;
	text-align: center;
	font-size: 40px;
}

h1::first-letter {
  font-size: 150%;
  color: red;
}

nav {
	font-weight: bold;
	text-shadow: 5px 5px 10px #00FF00;
	display: inline-block;
	float: right;
}

button{
	color: black;
	background-color: red;
	align-items: center;
}

a:link{color:black;}
a:visited{color: grey;}
a:active{color: aqua;}
a:hover{color: orange;}


.splash{
	height: 90vh;
	align-items: center;
	background-image: url(https://www.sandler.com/sites/default/files/styles/blog_main_image/public/images/blog/Dollarphotoclub_76404227-copy.jpg?itok=YG7AE_1-);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed
}

.splashinner {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.blocks{
	display:block; 
	width: 100%;
	height: auto
	background-color: white;
	color: black;
	align-items: center;
	align-content: center;
	text-align:center;
	margin: 0 auto;
}

.title{
	color:red;
	display:block;
	text-align: center;
	font-weight: bold;
	text-shadow: 5px 5px 10px black;
}

.button1{
	background-color: black;
    color: white; 
    position: relative
    margin: 0 auto;
}

.green{
	color:green;
}

.grid {
	display: grid;
	grid-template-columns:1fr 1fr 1fr;
	float: center;
	margin: 0 auto;
}

.item-d{
	width:100%
	margin: 0 auto;
}

.grid-1-1 {
	display: grid;
	grid-template-columns:1fr 1fr;
	grid-gap:2em;
	float: center;
	text-align: center;
	margin: 0 auto;
}

.grid-1-1-1{
	display: grid;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr;
	grid-gap:1em;
	float: center;
	text-align: justify;
	margin: 0 auto;
}

.story{
	text-align: right;
}

.footer {
  color:white;
  background-color: black; 
  text-align: center;
}


#map {
	background-color: black
	color: white;
	width:100%;
	align-items: center;
}

#gallery { 
    width:33%; 
	background-color: black;
	display: inline-block;
}

#team{
	width: 33%;
	background-color: black
	grid-1-1:1fr 1fr;
	float: center;
}

@media all and (max-width: 800px){
    .grid-1-1-1 {
        grid-template-columns: 1fr;
    }
    .grid-1-1{
    	grid-template-columns: 1fr;
    }
    .grid{
    	grid-template-columns: 1fr;
    }